<div class="form-group formBox">
    <label class="inputLabel" for="{{ checkPoint['alias'] }}">{{ checkPoint['label'] }}</label>
    <select class="form-control" id="{{ checkPoint['alias'] }}" name="{{ checkPoint['alias'] }}">
        {% for selectOption in checkPoint['selectOption'] %}
            <option {% if memData[selectOption['optionAlias']] is defined %} selected {% endif %}>{{ selectOption['optionName'] }}</option>
        {% endfor %}
    </select>
</div>